* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* NavBar */

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.metamask-btn {
}

.wallet-connected {
	display: flex;
}

.wallet-connected h3 {
	margin-right: 0.5em;
}

.check-account-btn {
}

/* DEX Info */

.dex-info-container {
	display: flex;
	justify-content: space-around;
}
